// Colors
$white: #fff;
$primary: #2F2E41;
$grey: #999999;
$light-grey: #F4F4F4;
$light-blue: #F2F5FD;

// font variables
$font-size-13: 13px;

// Mixins
@mixin block-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex-direction-center($dir) {
    display: flex;
    flex-direction: $dir;
    align-items: center;
}

@mixin flex-center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font($weight, $font-size, $line-height) {
    font-weight: $weight;
    font-size: $font-size;
    line-height: $line-height;
}